body {
text-align:center;

}

#ActionScript
{
color:blue;
}
#AppleScript
{
color:pink;
}
#Asp
{
color:black;
}
#BASIC
{
color:red;
}
#C
{
color:orange;
}
#C1
{
color:yellow;
}
#Clojure
{
color:gold;
}
#COBOL
{
color:DarkGoldenRod ;
}
#ColdFusion
{
color:DarkOrchid ;
}
#Erlang
{
color:darkred ;
}
#Fortran
{
color:gray ;
}
#Groovy
{
color:red;
}
#Haskell
{
color:GoldenRod ;
}
#Java
{
color:IndianRed  ;
}
#JavaScript
{
color:LawnGreen ;
}
#Lisp
{
color:LightSlateGray ;
}
#Perl
{
color:lightBlue ;
}
#PHP
{
color:silver ;
}
#Python
{
color:Orchid ;
}
#Ruby
{
color:Salmon ;
}
#Scala
{
color:SteelBlue ;
}
#Scheme
{
color:Violet ;
}